.cardcss{
    margin-top: 4rem;

    display: flex;
    flex-direction: row;
}

.column1 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row1 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin: 20px;
    }
  }
  
  /* Style the counter cards */
  .card1 {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    margin-top:30px;
    /* background-color: #f1f1f1; */
  }

  .heading11{
    align-items: center;
    justify-content: center;
  }